
  <div class="col-sm-12 paddingboth t-50">
      <div class="col-sm-12 paddingboth t-50">
          <div class="collapse navbar-collapse" id="myNavbar">
              <!--ribbon code-->
        <!--end-->


  <!--right sidebar code-->
  <div class="col-sm-10 col-sm-offset-2 e-s" [ngClass]="{'f-w':!on}">
        <div class="col-sm-12">
        <div class="row fix-sticky">

                <div class="form-group"></div>
                <div class="row">

  <!--finish product code-->
  <section>
  <div class="col-sm-12">
    <!--image section code-->
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="pull-left">YOUR DESIGN</span><span class="pull-right">ABL SPORTS</span><span class="clearfix"></span></div>
      <div class="panel-body">
    <div>
      <div class="form-group clearfix">
        <div class="col-sm-6">
        <img [src]="shirt1" title="Product Shirt Front" alt="Product Shirt Front" class="img-responsive" id="yourDesign">
        </div>
        <div class="col-sm-6">
            <img [src]="backImg" title="Product Shirt Back" alt="Product Shirt Back" class="img-responsive" id="yourDesign">
            </div>
      </div>
      <div class="form-group clearfix">
        <div class="pull-left">
            <img [src]="tSixdeg" title="360deg" alt="360deg" class="img-responsive w-30">
        </div>
        <div class="pull-right">
            <img [src]="screenshot" title="screenshot" alt="screenshot" class="img-responsive w-30 pull-right">
        </div>
      </div>
    </div>
      </div>
    </div>
    <!--end-->
  <div class="clearfix"></div>
    <!--finish product footer code-->
<div class="row">
<div class="col-sm-8">

<div class="panel panel-primary">
  <div class="panel-heading">ACTIONS</div>
  <div class="panel-body">
      <div class="row">
<div class="col-sm-4 form-group">
    <button type="button" class="btn btn-md btn-danger form-control" (click)="backDesign()">Re-edit the complete design</button>
  </div>

  <div class="col-sm-4 form-group">
      <button type="button" class="btn btn-md btn-danger form-control" (click)="backDesign()">Add another design with changed name & number</button>
      </div>

      <div class="col-sm-4 form-group">
          <button type="button" class="btn btn-md btn-danger form-control" (click)="backDesign()">Design New</button>
          </div>

          <div class="clearfix"></div>

          <div class="col-sm-12">
            <button type="button" class="btn btm-md btn-primary form-control" (click)="dyoMyCart()"><i class="fa fa-shopping-cart"></i> VIEW CART</button>
          </div>
</div>
</div>
  </div>
</div>
<!--share my design code-->
<div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">SHARE MY DESIGN</div>
      <div class="panel-body">
        <div>
          <div class="form-group"></div>
    <div class="btn-toolbar ptb-10">
      <button type="button" class="btn btn-md btn-primary m-b-15"> Share my design on <i class="fa fa-facebook"></i></button>
      <button type="button" class="btn btn-md btn-primary m-b-15"> Share my design on <i class="fa fa-twitter"></i></button>
      <button type="button" class="btn btn-md btn-primary m-b-15"> Share my design on <i class="fa fa-envelope-o"></i></button>
    </div>
        </div>
      </div>
    </div>
    </div>
    <!--end-->
  </div>
    <!--end-->
    </div>
  </section>
  <!--end-->

  </div>
        </div>

    </div>
    </div>
    <!--end-->
  </div>
