
  <div class="col-sm-12 paddingboth">
      <div class="col-sm-12 paddingboth">
          <div class="collapse navbar-collapse" id="myNavbar">

  <!--right sidebar code-->
  <div class="col-sm-10 col-sm-offset-2 e-s" [ngClass]="{'f-w':!on}">
        <div class="col-sm-12">
        <div class="row fix-sticky">

                <div class="form-group"></div>
                <div class="row">

  <!--finish product code-->
  <section>
  <div class="col-sm-12">
    <!--image section code-->
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="pull-left">YOUR DESIGN</span><span class="pull-right">ABL SPORTS</span><span class="clearfix"></span></div>
      <div class="panel-body">
    <div>
      <div class="form-group clearfix">
        <div class="col-sm-6">
        <img [src]="shirt1" title="Product Shirt Front" alt="Product Shirt Front" class="img-responsive" id="yourDesign">
        </div>
        <div class="col-sm-6">
            <img [src]="backImg" title="Product Shirt Back" alt="Product Shirt Back" class="img-responsive" id="yourDesign">
            </div>
      </div>
      <div class="form-group clearfix">
        <div class="pull-left">
            <img [src]="tSixdeg" title="360deg" alt="360deg" class="img-responsive w-30">
        </div>
        <!-- <div class="pull-right">
            <img [src]="screenshot" title="screenshot" alt="screenshot" class="img-responsive w-30 pull-right">
        </div> -->
      </div>
    </div>
      </div>
    </div>
    <!--end-->
  <div class="clearfix"></div>
    <!--finish product footer code-->

    <!--share my design code-->
<div class="row">
<div id="btn-finish">
    <div class="col-sm-2 col-md-3 col-lg-3 form-group">
        <button type="button" class="btn btn-md btn-danger form-control" (click)="backDesign()">Modify<br/>Design</button>
      </div>
    
      <div class="col-sm-2 col-md-3 col-lg-3 form-group">
          <button type="button" class="btn btn-md btn-danger form-control" [routerLink]="['/dyo/mycollection']">Add to<br/>Collection</button>
          </div>
          <div class="col-sm-2 col-md-3 col-lg-3 form-group">
              <button type="button" class="btn btm-md btn-danger form-control"><i class="fa fa-download" aria-hidden="true"></i> Download<br/>Job Sheet</button>
              </div>
          <div class="col-sm-2 col-md-3 col-lg-3 form-group">
              <button type="button" class="btn btn-md btn-primary form-control" (click)="backDesign()">Place<br/>Order</button>
              </div>
            
</div>

  </div>
      <!--end-->
    <!--end-->
    </div>
  </section>
  <!--end-->

  </div>
        </div>

    </div>
    </div>
    <!--end-->
  </div>
