<div class="col-sm-12 paddingboth">
  <div class="col-sm-10 col-sm-offset-2 e-s" [ngClass]="{ 'f-w': !on }">
    <div class="col-sm-12">
      <div class="row fix-sticky">
        <div class="col-sm-12 form-group">
          <div class="header"><div class="page-heading">Store</div></div>
        </div>
        <div class="form-group"></div>
        <div class="form-group col-sm-12">
          <button type="button" class="btn btn-primary pull-right" (click)="addUser()">
            Add Rack
          </button>
        </div>
        <!--table heder code-->
        <div class="col-sm-12">
          <ul class="list-unstyled bold" id="table-header">
            <li class="col-sm-1"><input type="checkbox" /></li>
            <li class="col-sm-2">Name</li>
            <li class="col-sm-1">RoleDisplay</li>
            <li class="col-sm-2">Email</li>
            <li class="col-sm-1">Telephone</li>
            <li class="col-sm-1">ManagerName</li>
            <li class="col-sm-2">ManagerEmail</li>
            <li class="col-sm-1"></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <!--table body data code-->
        <ul  class="list-unstyled" id="table-body"
          *ngFor="let item of activeUsers">
          <li class="col-sm-1"><input type="checkbox" /></li>
          <li class="col-sm-2">{{ item.Name }}</li>
          <li class="col-sm-1">{{ item.RoleDisplay }}</li>
          <li class="col-sm-2">{{ item.Email }}</li>
          <li class="col-sm-1">{{ item.Telephone }}</li>
          <li class="col-sm-1">{{ item.ManagerName }}</li>
          <li class="col-sm-2">{{ item.ManagerEmail }}</li>
          <li class="col-sm-1"><button type='button' class='btn btn-success' (click)='viewDetail(item.UserId)'>View Detail</button>
            <button type='button' class='btn btn-default' (click)='deleteUser(item.UserId)'>Delete</button></li>
        </ul>
        <!--end-->
      </div>
    </div>
  </div>
  <!--end-->
</div>
