
            <!-- <div id="ribbon-header">
                    <ul class="nav navbar-nav navbar m-b-0">
                        <li [routerLink]="['products']"><a routerLinkActive="dyoActive">1. Product <span></span></a></li>
                        <li [routerLink]="['design']"><a routerLinkActive="dyoActive">2. Design <span></span></a></li>
                        <li [routerLink]="['finish-product']"><a routerLinkActive="dyoActive">3. Finished Product <span></span></a></li>
                    </ul>
                </div> -->
                <router-outlet></router-outlet>
