

<!--profile code here-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Profile</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <img [src]="user" class="img-responsive img-fix img-circle" />
      </div>
      <p class="text-center bold">ABL SPORTS</p>
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="form-group">
        <label for="driverName">User Name</label>
        <div class="form-group">
          <input type="text" class="form-control" value="ABL SPORTS" readonly />
        </div>
      </div>

      <div class="form-group">
        <label for="contactNumber">EmailId</label>
        <div class="form-group">
          <input type="email" class="form-control" value="abl_sport@gmail.com" readonly />
        </div>
      </div>

      <div class="form-group">
        <label for="driverName">Password</label>
        <div class="form-group">
          <input type="password" class="form-control" value="123456" readonly />
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="modal-footer">
    <div class="form-group btn-toolbar">
      <button type="button" class="btn btn-md btn-default form-group pull-left" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-md btn-success form-group pull-right">Save</button>
    </div>
  </div>
</ng-template>
<!--end-->

<!--add edit code here-->
<ng-template #addProduct>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add Product</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
    <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="productName">Product Name</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Product Name" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <label for="skuCode">SKU/ Code</label>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter SKU/ Code" required/>
              </div>
              </div>
              <div class="col-sm-2 text-right">
                <i class="fa fa-times fa-2x t-3-r c-danger"></i>
                <!-- <i class="fa fa-check fa-2x t-3-r c-success"></i> -->
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
            <div class="form-group">
                <label for="size">Size</label>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter Size" required/>
                </div>
              </div>

              <div class="form-group">
                    <label for="unit">Unit</label>
                    <div class="form-group">
                      <select name="unit" id="unit" class="form-control">
                        <option [value]="item.id" *ngFor="let item of productUnit">{{item.unit}}</option>
                      </select>
                    </div>
                  </div>
    </div>
        </div>
        <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                  <label for="productType">Product Type</label>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Product Type" required/>
                  </div>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter Color" required/>
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="driverName">Product Description</label>
                      <div class="form-group">
                        <textarea type="text" cols="5" rows="5" class="form-control" placeholder="Enter Product Description" required></textarea>
                      </div>
                    </div>

              </div>
              <div class="clearfix"></div>
              <div>
                  
                  <div class="col-sm-6 col-xs-12">
                      <label for="caption">Categories</label>
                      <div class="form-group">
                      <select name="categories" id="categories" class="form-control">
                        <option [value]="it.productName" *ngFor="let it of productCategorie">{{it.productName}}</option>
                      </select>
                      </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <label for="caption">Sub-Categories</label>
                        <div class="form-group">
                        <select name="categories" id="categories" class="form-control">
                          <option>Knee Molted Socks</option>
                          <option>High Knee Socks</option>
                        </select>
                        </div>
                      </div>
            </div>

                  <div class="col-sm-6 col-xs-12">
                    <label for="caption">Caption</label>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter Caption" required/>
                    </div>
                  </div>
                <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                          <label for="tag">Tag</label>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Tag" required/>
                          </div>
                        </div>
                      </div>


    </div>
          <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <div class="form-group btn-toolbar ">
                <button type="button" class="btn btn-md btn-default form-group pull-left" (click)="modalRef.hide()">Cancel</button>
                <button type="button" class="btn btn-md btn-success form-group pull-right" (click)="modalRef.hide()">Save</button>
                </div>
        </div>
      </ng-template>
    <!--end-->

    <!--delete code here-->
<ng-template #addProductDel>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Product</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <div>
      Are you sure you want to delete this item.
    </div>
    </div>
    <div class="modal-footer">
        <div class="form-group btn-toolbar ">
            <button type="button" class="btn btn-md btn-default form-group pull-left" (click)="modalRef.hide()">No</button>
            <button type="button" class="btn btn-md btn-success form-group pull-right" (click)="modalRef.hide()">Yes</button>
            </div>
    </div>
  </ng-template>
<!--end-->


<!--navbar code here-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" [routerLink]="['/dyo']"><img [src]="logo" [alt]="logo" class="img-responsive fix-logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <a class="pointer" (click)="shop()"><i class="fa fa-shopping-cart fa-2x t-1" aria-hidden="true"></i> <span class="badge danger set-bell">4</span></a>
            <div class="profileDrp" *ngIf="shopActive">
                <ul class="list-unstyled">
                    <li class="list-group-item text-center"><span class="bold">Your Cart's</span></li>
                    <li class="list-group-item"><span>Cart Item</span><span class="pull-right badge success">3</span></li>
                    <li class="list-group-item"><span>Remove Item</span><span class="pull-right badge danger">1</span></li>
                </ul>
            </div>
          </li>
          <li>
              <a class="pointer" (click)="bell()"><i class="fa fa-bell-o fa-2x t-1" aria-hidden="true"></i>  <span class="badge danger set-bell">4</span></a>
            <div class="profileDrp" *ngIf="bellActive">
                <ul class="list-unstyled">
                    <li class="list-group-item"><span>Payment Success</span><span class="pull-right badge success">3</span></li>
                    <li class="list-group-item"><span>Payment Pending</span><span class="pull-right badge danger">1</span></li>
                </ul>
            </div>
          </li>
              <li class="btn-group ptb-8" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle"
                          aria-controls="dropdown-basic">
                          <span class="glyphicon glyphicon-user"></span> &nbsp; &nbsp; ABL SPORTS
                  </button>
                  <ul id="dropdown-basic" id="move" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem" routerLinkActive="active" class="pointer" (click)="openModalWithClass(template)"><a class="dropdown-item">Profile</a></li>
                    <li role="menuitem" routerLinkActive="active" class="pointer"><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    </ul>
                  </li>
        </ul>
      </div>
    </div>
  </nav>
<!--end-->


<div class="col-sm-12 paddingboth clearfix">
<!--right sidebar code-->
<div class="col-sm-10 col-sm-offset-2 e-s" [ngClass]="{'f-w':!on}">
<div class="form-group col-sm-12">
    <div class="row">
        <div class="col-sm-12 form-group">
                <div class="header">
                        <div class="page-heading">View Product Detail</div>
                        </div>
        </div>
        <div class="form-group"></div>
    </div>
<div>
<!--table header code-->
<div class="row">
<div class="col-sm-3 form-group"><input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search by product name" autofocus></div>
<div class="col-sm-2 form-group col-sm-offset-7"><button type="button" class="btn btn-primary pull-right" (click)="openModalWithClass(addProduct)">Add Product</button></div>
</div>
<div>
        <ul class="list-unstyled bold" id="table-header-product">
            <li>Product Name</li>
            <li>SKU/ Code</li>
            <li>Unit</li>
            <li>Size</li>
            <li></li>
        </ul>
<!--end-->
<!--table body code-->
        <ul class="list-unstyled" id="table-body-product" *ngFor="let item of returnedArray | product:searchText">
            <li>{{item.productName}}</li>
            <li>{{item.skuCode}}</li>
            <li>{{item.unit}}</li>
            <li>{{item.size}}</li>
            <li class="btn-group m-t-5" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle"
                      aria-controls="dropdown-basic">Actions
              </button>
              <ul id="dropdown-basic" id="move" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li class="w-f" role="menuitem" routerLinkActive="active" class="pointer" (click)="addProductClass(addProduct)"><a class="dropdown-item">Edit Product</a></li>
                <li class="w-f" role="menuitem" routerLinkActive="active" class="pointer" (click)="addProductDelClass(addProductDel)"><a class="dropdown-item">Delete Product</a></li>
                <li class="w-f" role="menuitem" routerLinkActive="active" class="pointer"><a class="dropdown-item">Print Barcode</a></li>
                </ul>
              </li>
        </ul>
        <div class="clearfix"></div>
        <div class="form-group">
        <pagination [totalItems]="productDetailList.length" (pageChanged)="pageChanged($event)"></pagination>
        </div>
    </div>
<!--end-->


    </div>
</div>

</div>
<!--end-->
</div>