 <div class="col-sm-12 paddingboth t-50">

  <div class="col-sm-10 col-sm-offset-2 e-s" [ngClass]="{ 'f-w': !on }">
    <div class="col-sm-12">
      <div class="row fix-sticky">
        <div class="col-sm-12 form-group">
          <div class="header"><div class="page-heading">Store</div></div>
        </div>
        <div class="form-group"></div>
        <div class="form-group col-sm-12">
          <button type="button" class="btn btn-success" (click)="addUser()">
            Add User
          </button>
        </div>
        <!--table heder code-->
        <div class="col-sm-12">
          <ul class="list-unstyled bold" id="table-header">
            <li><input type="checkbox" /></li>
            <li>Name</li>
            <li>RoleDisplay</li>
            <li>Email</li>
            <li>Telephone</li>
            <li>ManagerName</li>
            <li>ManagerEmail</li>
            <li></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <!--table body data code-->
        <ul  class="list-unstyled" id="table-body"
          *ngFor="let item of activeUsers">
          <li><input type="checkbox" /></li>
          <li>{{ item.Name }}</li>
          <li>{{ item.RoleDisplay }}</li>
          <li>{{ item.Email }}</li>
          <li>{{ item.Telephone }}</li>
          <li>{{ item.ManagerName }}</li>
          <li>{{ item.ManagerEmail }}</li>
          <li><button type='button' class='btn btn-success' (click)='viewDetail(item.UserId)'>View Detail</button>
            <button type='button' class='btn btn-default' (click)='deleteUser(item.UserId)'>Delete</button></li>
        </ul>
        <!--end-->
      </div>
    </div>
  </div>
  <!--end-->
</div>
