<!--profile code here-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Profile</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-sm-4 col-xs-12">
      <div class="form-group">
        <img [src]="user" class="img-responsive img-fix img-circle" />
      </div>
      <p class="text-center bold">ABL SPORTS</p>
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="form-group">
        <label for="driverName">User Name</label>
        <div class="form-group">
          <input type="text" class="form-control" value="ABL SPORTS" readonly />
        </div>
      </div>

      <div class="form-group">
        <label for="contactNumber">EmailId</label>
        <div class="form-group">
          <input type="email" class="form-control" value="abl_sport@gmail.com" readonly />
        </div>
      </div>

      <div class="form-group">
        <label for="driverName">Password</label>
        <div class="form-group">
          <input type="password" class="form-control" value="123456" readonly />
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="modal-footer">
    <div class="form-group btn-toolbar">
      <button type="button" class="btn btn-md btn-default form-group pull-left" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-md btn-success form-group pull-right">Save</button>
    </div>
  </div>
</ng-template>
<!--end-->

<!--order cancel code here-->
<ng-template #orderCancel>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Order Cancel Confirmation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Do you really want to cancel pre-order (#P1201457)
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group btn-toolbar">
      <button type="button" class="btn btn-md btn-default form-group pull-left" (click)="modalRef.hide()">No</button>
      <button type="button" class="btn btn-md btn-success form-group pull-right" [routerLink]="['/dyo-cancelOrder']"
        (click)="modalRef.hide()">Yes</button>
    </div>
  </div>
</ng-template>
<!--end-->

<!--view order code here-->
<ng-template #viewOrder>
  <div class="modal-header">
    <h4 class="modal-title pull-left">View Order</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <!--my cart screen code-->
      <div>
        <div class="panel panel-primary">
          <div class="panel-heading">VIEW ORDER <span class="pull-right">ABL SPORTS</span><span class="clearfix"></span></div>
          <div class="panel-body">
            <div class="form-group">
              <div class="form-group">
                <b>Order #PA012459 </b>was placed on Jan 7, 2019 and is currently in production with factory.
              </div>
              <hr />
              <div class="clearfix">
                <div class="pull-left">
                  <b>ORDER DETAIL</b>
                </div>
                <div class="pull-right">
                  <button class="button" class="btn btn-md btn-link">Download Design Sheet</button>
                </div>
              </div>
            </div>
            <!--my cart detail code-->
            <div class="panel panel-default m-b-0">
              <div class="panel-heading clearfix">
                <div class="col-sm-2">Image</div>
                <div class="col-sm-4">Product</div>
                <div class="col-sm-3">Printed Name</div>
                <div class="col-sm-2">Printed Number</div>
              </div>
              <div class="panel-body">
                <div class="clearfix" id="mycart-b-b" *ngFor="let item of mycart; let i=index">
                  <div class="col-sm-2">
                    <img [src]="item.img" [alt]="item.product" [title]="item.product" class="img-responsive">
                  </div>
                  <div class="col-sm-4">
                    <h3>{{item.product}}</h3>
                    <p>{{item.productNumber}}</p>
                  </div>
                  <div class="col-sm-3 uppercase"><b>{{item.name}}</b></div>
                  <div class="col-sm-2">{{item.number}}</div>
                </div>
              </div>
            </div>
            <!--end-->
          </div>
        </div>
      </div>
      <!--end-->
    </div>
  </div>
</ng-template>
<!--end-->

<!--place order to factory code here-->
<ng-template #placeOrderFactory>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Place Order Factory</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--my cart screen code-->
    <div>
      <div class="panel panel-primary">
        <div class="panel-heading">PLACE ORDER TO FACTORY</div>
        <div class="panel-body">
          <!--place order to factory code-->
          <div class="panel panel-default m-b-0">
            <div class="panel-heading clearfix">
              <div class="col-sm-6">Customised Product</div>
              <div class="col-sm-5 p-lr-0 text-center">
                <div class="col-sm-2 p-lr-0">XS</div>
                <div class="col-sm-2 p-lr-0">S</div>
                <div class="col-sm-2 p-lr-0">M</div>
                <div class="col-sm-2 p-lr-0">L</div>
                <div class="col-sm-2 p-lr-0">2XL</div>
                <div class="col-sm-2 p-lr-0">3XL</div>
                <div class="clearfix"></div>
              </div>
              <div class="col-sm-1 text-center">Total</div>
            </div>
            <div class="panel-body">
              <div class="clearfix flex b-a form-group" *ngFor="let item of placeOrderData; let i=index">
                <div class="col-sm-3">
                  <div class="ptb-10">
                    <div class="form-group">
                      <img [src]="item.img" [alt]="item.product" [title]="item.product" class="img-responsive">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 b-r">
                  <div class="ptb-10">
                    <div><b>{{item.product}}</b></div>
                    <p>{{item.productNumber}}</p>
                    <p><b>Name: </b>{{item.name}}</p>
                    <p><b>Number: </b>{{item.number}}</p>
                  </div>
                </div>
                <div class="col-sm-5 flex b-r p-lr-0 text-center">
                  <div class="col-sm-2 p-tb-50 p-lr-0"><span><input type="text" [value]="item.extraSmall" class="form-control"></span></div>
                  <div class="col-sm-2 p-tb-50 p-lr-0"><span><input type="text" [value]="item.small" class="form-control"></span></div>
                  <div class="col-sm-2 p-tb-50 p-lr-0"><span><input type="text" [value]="item.medium" class="form-control"></span></div>
                  <div class="col-sm-2 p-tb-50 p-lr-0"><span><input type="text" [value]="item.large" class="form-control"></span></div>
                  <div class="col-sm-2 p-tb-50 p-lr-0"><span><input type="text" [value]="item.doubleExtraLarge" class="form-control"></span></div>
                  <div class="col-sm-2 p-tb-50 p-lr-0"><span><input type="text" [value]="item.thripleExtraLarge" class="form-control"></span></div>
                  <div class="clearfix"></div>
                </div>
                <div class="col-sm-1 p-tb-50 text-center t-5"><span><b>{{item.total}}</b></span></div>
              </div>
            </div>
          </div>
          <!--end-->
        </div>
      </div>
    </div>
    <!--end-->
    <div class="row">
      <div class="col-sm-10 clearfix">
        <div *ngFor="let item of placeOrderRadio; let i=index" class="col-sm-4 text-left">
          <div class="radio">
            <label><input type="radio" value="{{item.name}}" name="placeOrder"> {{item.name}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-md btn-success form-group pull-right" [routerLink]="['/dyo-orderPlaced']"
          (click)="modalRef.hide()">Place Order</button>
      </div>
    </div>
  </div>
</ng-template>
<!--end-->

<!--order detail code here-->
<ng-template #orderDetail>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Order Detail</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <!--my cart screen code-->
      <div>
        <div class="panel panel-primary">
          <div class="panel-heading">ORDER DETAIL <span class="pull-right">ABL SPORTS</span><span class="clearfix"></span></div>
          <div class="panel-body">
<!--customer info & order info code-->
          <div class="row flex">

            <div class="col-sm-6 flex">
            <div class="panel panel-default col-sm-12 p-lr-0">
             <div class="panel-heading">CUSTOMER INFO.</div>
             <div class="panel-body">
               <div>
                 <div><div class="col-sm-5 p-lr-0"><b>Customer: </b></div><div class="col-sm-7">ABS SPORTS</div><div class="clearfix"></div></div>
                 <div><div class="col-sm-5 p-lr-0"><b>Customer Address: </b></div><div class="col-sm-7">
                    <div>ABL Sports Complex</div>
                    <div>320, North Avenue</div>
                    <div>Sydney - 10010</div>
                    <div>Australia </div>
                 </div><div class="clearfix"></div></div>
                 <div><div class="col-sm-5 p-lr-0"><b>Email: </b></div><div class="col-sm-7">john@ablsports.com</div><div class="clearfix"></div></div>
               </div>
             </div>
            </div>
          </div>

          <div class="col-sm-6 flex">
              <div class="panel panel-default col-sm-12 p-lr-0">
               <div class="panel-heading">ORDER INFO.</div>
               <div class="panel-body">
                 <div>
                   <div><div class="col-sm-5 p-lr-0"><b>Order No.: </b></div><div class="col-sm-7">PD1C101825</div><div class="clearfix"></div></div>
                   <div><div class="col-sm-5 p-lr-0"><b>Delivery Type: </b></div><div class="col-sm-7">Standard</div><div class="clearfix"></div></div>
                   <div><div class="col-sm-5 p-lr-0"><b>Created On: </b></div><div class="col-sm-7">Jan 5, 2019</div><div class="clearfix"></div></div>
                   <div><div class="col-sm-5 p-lr-0"><b>Created By: </b></div><div class="col-sm-7">John</div><div class="clearfix"></div></div>
                   <div><div class="col-sm-5 p-lr-0"><b>Status: </b></div><div class="col-sm-7">In Production</div><div class="clearfix"></div></div>
                 </div>
               </div>
              </div>
            </div>


          </div>
<!--end-->

            <!--place order to factory code-->
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                  <div class="col-sm-6">Customised Product</div>
                  <div class="col-sm-5 p-lr-0 text-center">
                    <div class="col-sm-2 p-lr-0">XS</div>
                    <div class="col-sm-2 p-lr-0">S</div>
                    <div class="col-sm-2 p-lr-0">M</div>
                    <div class="col-sm-2 p-lr-0">L</div>
                    <div class="col-sm-2 p-lr-0">2XL</div>
                    <div class="col-sm-2 p-lr-0">3XL</div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="col-sm-1 text-center">Total</div>
                </div>
                <div class="panel-body p-b-0">
                  <div class="clearfix flex b-a form-group" *ngFor="let item of placeOrderData; let i=index">
                    <div class="col-sm-3">
                      <div class="ptb-10">
                        <div class="form-group">
                          <img [src]="item.img" [alt]="item.product" [title]="item.product" class="img-responsive">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 b-r">
                      <div class="ptb-10">
                        <div><b>{{item.product}}</b></div>
                        <p>{{item.productNumber}}</p>
                        <p><b>Name: </b>{{item.name}}</p>
                        <p><b>Number: </b>{{item.number}}</p>
                      </div>
                    </div>
                    <div class="col-sm-5 flex b-r p-lr-0 text-center">
                      <div class="col-sm-2 p-tb-50 p-lr-0"><span>{{item.extraSmall}}</span></div>
                      <div class="col-sm-2 p-tb-50 p-lr-0"><span>{{item.small}}</span></div>
                      <div class="col-sm-2 p-tb-50 p-lr-0"><span>{{item.medium}}</span></div>
                      <div class="col-sm-2 p-tb-50 p-lr-0"><span>{{item.large}}</span></div>
                      <div class="col-sm-2 p-tb-50 p-lr-0"><span>{{item.doubleExtraLarge}}</span></div>
                      <div class="col-sm-2 p-tb-50 p-lr-0"><span>{{item.thripleExtraLarge}}</span></div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-1 p-tb-50 text-center"><span><b>{{item.total}}</b></span></div>
                  </div>
                </div>
              </div>
              <!--end-->
              <div class="clearfix">
                  <div class="pull-left">
                    <button type="button" class="btn btn-md btn-danger" (click)="reasonClass(reason)">Reject</button>
                  </div>
                  <div class="pull-right">
                      <button type="button" class="btn btn-md btn-primary" (click)="modalRef.hide()">Accept</button>
                    </div>
                </div>
          </div>
        </div>
      </div>
      <!--end-->
      <div class="panel panel-primary m-b-0">
        <div class="panel-heading"><span class="glyphicon" [ngClass]="{'glyphicon-plus':!communication, 'glyphicon-minus':communication}" (click)="communicationOk()"></span> COMMUNICATION LOG</div>
        <div class="panel-body" *ngIf="communication">
          <div>
            <div class="panel panel-default">
              <div class="panel-heading">Nathan Phipps <span class="pull-right">Jan 5, 2019 10:30</span><span class="clearfix"></span></div>
              <div class="panel-body">
                  <div>Hi John,</div>  
                  <div>We dont have screen printing available at the moment. There is some problems in the machinery hence the order cannot be processed this time. Let me know if client wants to go for embroidery logo ?</div>
                  <div>Regards</div>
                  <div>Adam</div>
              </div>
            </div>
            <div class="panel panel-default m-b-0">
                <div class="panel-heading">Adam Phipps <span class="pull-right">Jan 7, 2019 1:30</span><span class="clearfix"></span></div>
                <div class="panel-body">
                    <div>Hi Nathan,</div>  
                    <div>Thanks for the information. Will update you ?</div>
                    <div>Regards</div>
                    <div>Adam</div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-md btn-danger" (click)="modalRef.hide()">Cancel</button>
      </div>
      <!-- <div class="pull-right">
          <button type="button" class="btn btn-md btn-primary" (click)="modalRef.hide()">Accept</button>
        </div> -->
    </div>
  </div>
</ng-template>
<!--end-->

<!--reason code here-->
<ng-template #reason>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Order Reject Confirmation</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <label for="reason">Reason:</label>
        <div>
          <textarea cols="4" rows="4" class="form-control" placeholder="Enter reason here..." required autofocus></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-md btn-primary" (click)="modalRef.hide()">Submit</button>
          </div>
      </div>
    </div>
  </ng-template>
  <!--end-->

  <!--view tracking code here-->
<ng-template #viewTracking>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Order No. #PA0124579</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">

        <div>
        <div class="col-sm-6">
          <label class="col-sm-4">Status:</label>
          <div class="col-sm-8 form-group">
            Dispatch
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-6">
            <label class="col-sm-4">Created On:</label>
            <div class="col-sm-8 form-group">
              25 Dec, 2018
            </div>
            <div class="clearfix"></div>
          </div>
          </div>

          <div>
              <div class="col-sm-6">
                <label class="col-sm-4">Total Item:</label>
                <div class="col-sm-8">
                  8
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-sm-6">
                  <label class="col-sm-4">Invoice No:</label>
                  <div class="col-sm-8">
                    #12025478
                  </div>
                  <div class="clearfix"></div>
                </div>
                </div>
                <div class="clearfix"></div>


<div class="col-sm-12">
    <hr/>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <div class="col-sm-8">Date & Time</div>
    <div class="col-sm-4">Activity</div>
  </div>
  <div class="panel-body">
    <div class="clearfix">
      <div class="col-sm-8">15 Oct, 2018 16:20</div>
      <div class="col-sm-4">Dispatch</div>
    </div>
    <div class="clearfix">
        <div class="col-sm-8">11 Oct, 2018 10:01</div>
        <div class="col-sm-4">In Production</div>
      </div>
      <div class="clearfix">
          <div class="col-sm-8">1 Oct, 2018 20:52</div>
          <div class="col-sm-4">Order Confrm</div>
        </div>
  </div>
</div>
</div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="clearfix">
        <div class="pull-left">
            <button type="button" class="btn btn-md btn-default" (click)="modalRef.hide()">Cancel</button>
          </div>
      </div>
    </div>
  </ng-template>
  <!--end-->

  <!--update tracking code here-->
<ng-template #updateTracking>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Order No. #PA0124579</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="clearfix row">
      <div class="col-sm-12">
        <label for="status">Status</label>
        <div class="form-group">
          <select name="status" id="status" class="form-control">
            <option>Select Status</option>
            <option value="dispatch">Dispatch</option>
            <option value="inProduction">In Production</option>
            <option value="orderConfrm">Order Confrm</option>
          </select>
        </div>
      </div>

      <div class="col-sm-12">
          <label for="status">Description</label>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Description" required autofocus>
          </div>
        </div>

        <div class="col-sm-12">
            <label for="status">Invoice No.</label>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Invoice No." required autofocus>
            </div>
          </div>


      </div>
    </div>
    <div class="modal-footer">
      <div class="clearfix">
          <div class="pull-left">
              <button type="button" class="btn btn-md btn-default" (click)="modalRef.hide()">Cancel</button>
            </div>
        <div class="pull-right">
            <button type="button" class="btn btn-md btn-primary" (click)="modalRef.hide()">Update Order</button>
          </div>
      </div>
    </div>
  </ng-template>
  <!--end-->


<div class="col-sm-12 paddingboth clearfix">
  <!--right sidebar code-->
  <div class="col-sm-10 col-sm-offset-2 e-s" [ngClass]="{'f-w':!on}">
    <div class="col-sm-12">
      <div class="row fix-sticky">
        <div class="form-group"></div>
        <div class="row">
            <div class="col-sm-12 form-group">
          <div class="col-sm-12">
                <div class="header">
                        <div class="page-heading">Order Detail</div>
                        </div>
            </div>
        </div>
          <div>
            <!--search fileter code-->
            <div class="clearfix">
              <div class="col-sm-12 clearfix form-group">
                <label for="dateTo" class="t-5 col-sm-1">Customer:</label>
                <div class="col-sm-11">
                  <select class="form-control" autofocus>
                    <option>Select Customer</option>
                    <option>ABS SPORTS</option>
                    <option>Agile Global Logistics Group Ltd.</option>
                    <option>School Shop Direct</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label for="status" class="t-5 col-sm-2">Status:</label>
                <div class="col-sm-10">
                  <select class="form-control" autofocus>
                    <option>Select Status</option>
                    <option>IN PRODCUTION</option>
                    <option>FINISHED PRODUCTION</option>
                    <option>Hold</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label for="orderNo" class="t-5 col-sm-2">Order No.:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Search order no."
                    autofocus>
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label for="dateFrom" class="t-5 col-sm-2">Date From:</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" placeholder="Search date from"
                    autofocus>
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label for="dateTo" class="t-5 col-sm-2">Date To:</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" placeholder="Search date to" autofocus>
                </div>
              </div>
            </div>
            <!--end-->
          </div>
          <!--my cart screen code-->
          <div class="col-sm-12">
          <div class="col-sm-12">
            <div class="panel panel-primary">
              <div class="panel-heading">MY ORDERS</div>
              <div class="panel-body">
                <!--my cart detail code-->
                <div class="panel panel-default m-b-0">
                  <div class="panel-heading clearfix">
                    <div class="clearfix">
                      <div class="col-sm-3">Order No.</div>
                      <div class="col-sm-2">Date</div>
                      <div class="col-sm-3">Status</div>
                      <div class="col-sm-3">Customer</div>
                      <div class="col-sm-1">Action</div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="clearfix" id="mycart-b-b" *ngFor="let item of myorder | dyocustomer:customerName">
                      <div class="col-sm-3">
                        <a class="pointer" (click)="viewTrackingClass(viewTracking)">{{item.order}}</a>
                      </div>
                      <div class="col-sm-2">
                        {{item.date}}
                      </div>
                      <div class="col-sm-3">{{item.status}}</div>
                      <div class="col-sm-3 uppercase">{{item.customer}}</div>
                      <div class="col-sm-1 btn-toolbar t-m-8" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle l-m-15"
                          aria-controls="dropdown-basic">
                          Actions <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" id="move" *dropdownMenu class="dropdown-menu" role="menu"
                          aria-labelledby="button-basic">
                          <li role="menuitem" routerLinkActive="active" (click)="viewOrderClass(viewOrder)" class="pointer"><a
                              class="dropdown-item">View Order</a></li>
                              <li role="menuitem" routerLinkActive="active" (click)="viewTrackingClass(viewTracking)" class="pointer"><a
                                class="dropdown-item">View Tracking</a></li>
                                <li role="menuitem" routerLinkActive="active" (click)="updateTrackingClass(updateTracking)" class="pointer"><a
                                  class="dropdown-item">Update Tracking</a></li>
                          <li role="menuitem" routerLinkActive="active" (click)="orderDetailClass(orderDetail)" class="pointer"><a
                              class="dropdown-item">Order Detail</a></li>
                          <li role="menuitem" routerLinkActive="active" (click)="orderCancelClass(orderCancel)" class="pointer"><a
                              class="dropdown-item">Cancel Order</a></li>
                          <li role="menuitem" routerLinkActive="active" (click)="PlaceOrderFactoryClass(placeOrderFactory)"
                            class="pointer"><a class="dropdown-item">Place Order to Factory</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end-->
              </div>
            </div>
          </div>
        </div>
          <!--end-->


        </div>
      </div>

    </div>
  </div>
  <!--end-->
</div>