
<!--toaster code-->
<!-- <div class="toaster toaster-default">
        <div>Thanks for visting this website.</div>
    </div> -->
    <!--end-->


<!--navbar code here-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/dyo/products']"><img [src]="logo" [alt]="logo" class="img-responsive fix-logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div id="ribbon-header">
                    <ul class="nav navbar-nav navbar m-b-0">
                        <li [routerLink]="['/dyo/products']"><a routerLinkActive="dyoActive">1. Product <span></span></a></li>
                        <li [routerLink]="['/dyo/design']"><a routerLinkActive="dyoActive">2. Design <span></span></a></li>
                        <li [routerLink]="['/dyo/finish-product']"><a routerLinkActive="dyoActive">3. Finished Product <span></span></a></li>
                    </ul>
                </div>

        <ul class="nav navbar-nav navbar-right">
          <li>
              <a class="pointer" (click)="shop()"><i class="fa fa-bookmark-o fa-2x t-1" aria-hidden="true"></i> <span class="badge danger set-bell">4</span></a>
            <div class="profileDrp" *ngIf="shopActive">
                <ul class="list-unstyled">
                    <li class="list-group-item text-center"><span class="bold">Your Cart's</span></li>
                    <li class="list-group-item"><span>Cart Item</span><span class="pull-right badge success">3</span></li>
                    <li class="list-group-item"><span>Remove Item</span><span class="pull-right badge danger">1</span></li>
                </ul>
            </div>
          </li>
          <li>
              <a class="pointer" (click)="bell()"><i class="fa fa-bell-o fa-2x t-1" aria-hidden="true"></i>  <span class="badge danger set-bell">4</span></a>
            <div class="profileDrp" *ngIf="bellActive">
                <ul class="list-unstyled">
                    <li class="list-group-item"><span>Payment Success</span><span class="pull-right badge success">3</span></li>
                    <li class="list-group-item"><span>Payment Pending</span><span class="pull-right badge danger">1</span></li>
                </ul>
            </div>
          </li>
              <li class="btn-group ptb-8" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle"
                          aria-controls="dropdown-basic">
                          <span class="glyphicon glyphicon-user"></span> &nbsp; &nbsp; ABL SPORTS
                  </button>
                  <ul id="dropdown-basic" id="move" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem" routerLinkActive="active" class="pointer" (click)="openModalWithClass(template)"><a class="dropdown-item">Profile</a></li>
                    <li role="menuitem" routerLinkActive="active" class="pointer"><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    </ul>
                  </li>
        </ul>
      </div>
    </div>
  </nav>
<!--end-->

<div class="col-sm-12 paddingboth t-50">
    <!--left sidebar code-->
    <div class="col-sm-2 paddingboth e-s" id="ls-scroll" [ngClass]="{'w-n':!on}">
      <ul class="list-unstyled m-b-0">
          <li class="list-group-item pointer clearfix">
                <i class="fa fa-2x pull-right" [ngClass]="{'fa-times':on, 'fa-align-left':!on}" (click)="scrollActive()"></i>
          </li>
      </ul>
    <ul class="list-group">
            <li class="list-group-item pointer" [routerLink]="['/dyo/products']">
                    <div class="pointer bold"><i class="fa fa-users e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1"><i class="fa fa-users e-s-1 fa-2x"></i>  DYO Items</span></div>
                  </li>
                  <li class="list-group-item pointer" [routerLink]="['/dyo/orderDetail']">
                    <div class="pointer bold"><i class="fa fa-list-alt e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1"><i class="fa fa-list-alt e-s-1 fa-2x"></i>  My Order</span></div>
                  </li>

        <!-- <li class="list-group-item pointer">
          <div class="pointer bold"><i [routerLink]="['/customer']" class="fa fa-users e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1" (click)="customerOk()"><i class="fa fa-users e-s-1 fa-2x"></i> Customer <span class="caret"></span></span></div>
          <div *ngIf="customer" class="t-i-15">
              <div class="form-group"></div>
              <div class="form-group pointer" [routerLink]="['/customer']">View Customers</div>
          </div>
        </li> -->

        <li class="list-group-item pointer">
            <div class="pointer bold"><i [routerLink]="['/user']" class="fa fa-user e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1" (click)="userOk()"><i class="fa fa-user e-s-1 fa-2x"></i> User <span class="caret"></span></span></div>
            <div *ngIf="users" class="t-i-15">
                <div class="form-group"></div>
                <div class="form-group pointer" [routerLink]="['/user']">View Users</div>
            </div>
          </li>

          <!-- <li class="list-group-item pointer">
              <div class="pointer bold"><i  [routerLink]="['/accessControl']" class="fa fa-cog e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1" (click)="accessControlOk()"><i class="fa fa-cog e-s-1 fa-2x"></i> Access Control <span class="caret"></span></span></div>
              <div *ngIf="accessControl" class="t-i-15">
                  <div class="form-group"></div>
                  <div class="form-group pointer" [routerLink]="['/accessControl']">Assign user to screen</div>
              </div>
            </li> -->

            <li class="list-group-item pointer">
                <div class="pointer bold"><i [routerLink]="['/product']" class="fa fa-product-hunt e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1" (click)="productOk()"><i class="fa fa-product-hunt e-s-1 fa-2x"></i> Product <span class="caret"></span></span></div>
                <div *ngIf="product" class="t-i-15">
                    <div class="form-group"></div>
                    <div class="form-group pointer" [routerLink]="['/product']">View Products with stock</div>
                </div>
              </li>

              <li class="list-group-item pointer">
                  <div class="pointer bold"><i [routerLink]="['/rack']" class="fa fa-rocket e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1" (click)="rackOk()"><i class="fa fa-rocket e-s-1 fa-2x"></i> Rack <span class="caret"></span></span></div>
                  <div *ngIf="rack" class="t-i-15">
                      <div class="form-group"></div>
                      <div class="form-group pointer" [routerLink]="['/rack']">View Rack</div>
                  </div>
                </li>

                <!-- <li class="list-group-item pointer">
                    <div class="pointer bold"><i [routerLink]="['/warehouse']" class="fa fa-wikipedia-w e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1" (click)="warehouseOk()"><i class="fa fa-wikipedia-w e-s-1 fa-2x"></i> Warehouse <span class="caret"></span></span></div>
                    <div *ngIf="warehouse" class="t-i-15">
                        <div class="form-group"></div>
                        <div class="form-group pointer" [routerLink]="['/warehouse']">View warehouses</div>
                    </div>
                  </li> -->

                  <!-- <li class="list-group-item pointer">
                      <div class="pointer bold"><i [routerLink]="['/orders']" class="fa fa-first-order e-s-1 fa-2x" [ngClass]="{'hide':on}"></i> <span [ngClass]="{'hide':!on}" class="e-s-1" (click)="orderOk()"><i class="fa fa-first-order e-s-1 fa-2x"></i> Orders <span class="caret"></span></span></div>
                      <div *ngIf="order" class="t-i-15">
                          <div class="form-group"></div>
                          <div class="form-group pointer" [routerLink]="['/orders']">View Orders</div>
                          <div class="form-group pointer">Filter Orders</div>
                          <div class="form-group pointer">Update Order Tracking</div>
                          <div class="form-group pointer">Tracking Detail</div>
                          <div class="form-group pointer">Sales Coordinator acceptance</div>
                          <div class="form-group pointer">Merchandiser acceptance</div>
                          <div class="pointer">Upload Merchandiser Sample</div>
                      </div>
                    </li> -->

      </ul>
    </div>
    <!--end-->

    <!--right sidebar code-->
    <div class="col-sm-10 col-sm-offset-2 e-s" [ngClass]="{'f-w':!on}">
      <div class="col-sm-12">
          <router-outlet></router-outlet>
    </div>
    </div>
    <!--end-->
    </div>

