<div class="row">
  <div class="col-sm-11 col-sm-offset-1 fix-customer-grid e-s" [ngClass]="{ 'f-w': !on }">
    <div class="col-sm-12">
      <div class="row fix-sticky">
        <div class="col-sm-12 form-group">
          <div class="header"><div class="page-heading">Customer</div></div>
        </div>
        <div class="form-group"></div>
        <div class="form-group col-sm-12">
          <button type="button" class="btn btn-success" (click)="addCustomer()">
            Add User
          </button>
        </div>
        <!--table heder code-->
        <div class="col-sm-12">
          <ul class="list-unstyled bold" id="table-header">
            <li><input type="checkbox" /></li>
            <li>AccountNo</li>
            <li>CompanyName</li>
            <li>ContactName</li>
            <li>Email</li>
            <li>TelephoneNo</li>
            <li>TelephoneNo</li>
            <li>SalesReprestative</li>
            <li></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <!--table body data code-->
        <ul  class="list-unstyled" id="table-body"
          *ngFor="let item of activeUsers">
          <li><input type="checkbox" /></li>
          <li>{{ item.AccountNo }}</li>
          <li>{{ item.CompanyName }}</li>
          <li>{{ item.ContactName }}</li>
          <li>{{ item.Email }}</li>
          <li>{{ item.TelephoneNo }}</li>
          <li>{{ item.Country }}</li>
          <li>{{ item.SalesReprestative }}</li>
          <li><button type='button' class='btn btn-success' (click)='viewDetail(item.UserId)'>View Detail</button>
            <button type='button' class='btn btn-default' (click)='deleteUser(item.UserId)'>Delete</button></li>
        </ul>
        <!--end-->
      </div>
    </div>
  </div>
  <!--end-->
</div>
